@media screen and (max-width:1440px) {}

@media screen and (max-width:1280px) {}

@media screen and (max-width:1024px) {
}

@media screen and (max-width:768px) {
    .hero_01 img{ width: 30%; height: auto; }
    .hero_02 img{ width: 14%; height: auto; }
    .hero_03 img{ width: 30%; height: auto; }
}

@media screen and (max-width:600px) {
    .hero_wrap {height: 90vh;}
}

@media screen and (max-width:480px) {
    /* hero */
    .hero_title_wrap {
        gap: 24px;
        margin-bottom: 140px;
    }
    .hero_title_wrap .contents_article_large br{display: none;}
    .hero_01 img{ width: 50%; height: auto; }
    .hero_02 img{ width: 30%; height: auto; }
    .hero_03 img{ width: 50%; height: auto; }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom, 40px);
    }
}