@media screen and (max-width:1440px) {
    /* release */
    .album .album_img { width: 540px; height: 540px; }
    .swiper-slide:not(.swiper-slide-active).album .album_img {
        width: 536px; height: 536px;
    }
    .btn_wrap{gap: 18px;}
    .custom-next.album{right: 26%;}
    .custom-prev.album{left: 26%;}

    /* artist */
    .artist_text_wrap{ width: 320px; height: 640px;}
    .artist_name{font-size: 32px;}
    .artist_img_wrap{height: 640px;}
}

@media screen and (max-width:1280px) {
    /* release */
    .album .album_img { width: 472px; height: 472px; }
    .swiper-slide:not(.swiper-slide-active).album .album_img {
        width: 472px; height: 472px;
    }
    .btn_wrap{gap: 16px;}
    .custom-next.album{right: 24%;}
    .custom-prev.album{left: 24%;}

    /* artist */
    .artist_text_wrap{ width: 260px; height: 540px;}
    .artist_name{font-size: 26px;}
    .artist_img_wrap{height: 540px;}

}

@media screen and (max-width:1024px) {
    /* multimedia */
    .multimedia .contents_thum_wrap .contents_thum{width: 70%;}
    .multimedia .contents_thum .play_btn, 
    .multimedia .contents_thum .pause_btn{
        width: 64px; height: 64px; transform: translate(-32px, -32px);
    }
    .custom-prev.multi {left: 8%;}
    .custom-next.multi{right: 8%;}

    /* release */
    .album .album_img { width: 408px; height: 408px;}
    .swiper-slide:not(.swiper-slide-active).album .album_img {
        width: 408px; height: 408px;
    }
    .btn_wrap{gap: 14px;}
    .custom-next.album{right: 22%;}
    .custom-prev.album{left: 22%;}

    /* artist */
    .artist_wrap{
        flex-direction: column; gap: 24px;
    }

    .artist_img_wrap{
        flex: initial; height: auto;
        aspect-ratio: 16 / 9; /* 이미지 비율 */
    }
    .artist_img_wrap .artist_img{
        background-size: cover; background-position: center;

        /* display: none; */
        opacity: 0;
        visibility: hidden;
        transform: scale(1.05);
        transition: opacity .6s ease, transform .8s ease;
    }
    .artist_img.active{
        /* display: block; */
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    .artist_text_wrap {
        width: 100%;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        height: auto;
    }
    .artist_name { font-size: 32px; margin-bottom: 24px; white-space: nowrap;}

    .artist_text_wrap::-webkit-scrollbar{height: 6px;}

}

@media screen and (max-width:768px) {
    /* multimedia */
    .multimedia .contents_thum_wrap .contents_thum{width: 80%;}
    .multimedia .contents_thum .play_btn, 
    .multimedia .contents_thum .pause_btn{
        width: 56px; height: 56px; transform: translate(-28px, -28px);
    }
    .custom-prev.multi {left: 2%;}
    .custom-next.multi{right: 2%;}

    /* release */
    .album .album_img {width: 344px; height: 344px;}
    .swiper-slide:not(.swiper-slide-active).album .album_img {
        width: 344px; height: 344px;
    }
    .btn_wrap{gap: 12px;}
    .custom-prev.album, .custom-next.album{top: 40%;}
    .custom-next.album{right: 16%;}
    .custom-prev.album{left: 16%;}


    /* artist */
    .artist_name { font-size: 32px; margin-bottom: 20px; }
}

@media screen and (max-width:600px) {
    .hero_wrap {height: 90vh;}

    /* release */
    .album .album_img {width: 280px; height: 280px;}
    .swiper-slide:not(.swiper-slide-active).album .album_img {
        width: 280px; height: 280px;
    }
    .btn_wrap{gap: 10px;}

    .custom-next.album{right: 16%;}
    .custom-prev.album{left: 16%;}

    /* artist */
    .artist_name { font-size: 26px; margin-bottom: 16px;}
}

@media screen and (max-width:480px) {
    /* hero */
    .hero_title_wrap {
        width: 85%; margin-bottom: 140px; padding: 0;
        gap: 24px;
    }
    .hero_title_wrap .contents_article_large br{display: none;}
    .hero_01 img{ width: 50%; height: auto; }
    .hero_02 img{ width: 25%; height: auto; }
    .hero_03 img{ width: 50%; height: auto; }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom, 40px);
    }
    /* arrow */
    .custom-prev, .custom-next {width: 32px; height: 32px;}

    /* multimedia */
    .multimedia .section_title{margin-bottom: 20px;}
    .multimedia .contents_thum_wrap{padding: 80px 0; gap: 24px;}
    .multimedia .section_title { margin-bottom: 16px;}
    .multimedia .contents_thum_wrap .contents_thum{width: 80%;}
    .multimedia .contents_thum .play_btn, 
    .multimedia .contents_thum .pause_btn{
        width: 40px; height: 40px; transform: translate(-20px, -20px);
    }

    /* release */
    .release{padding: 80px 0;}
    .album{gap: 24px;}
    .album .album_img { width: 215px; height: 215px;}
    .swiper-slide:not(.swiper-slide-active).album .album_img {
        width: 215px; height: 215px;
    }
    /* scale 제거 */
    /* .swiper-slide:not(.swiper-slide-active).album {
        transform: scale(1);
        opacity: 0;
    } */
    .btn_wrap{gap: 8px; justify-content: center;}

    .custom-next.album, .custom-prev.album{ top: 34%;}
    .custom-next.album{right: 8%;}
    .custom-prev.album{left: 8%;}

    /* artist */
    .artist_name { font-size: 24px; margin-bottom: 12px;}
}