/* header */
header {
    max-width: 1920px;
    width: 93%; height: 80px; position: absolute; top: 54px; left: 70px; z-index: 999;

    /* glass */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 8px 10px rgba(31, 38, 135, 0), inset 0 4px 8px -2px rgba(255, 255, 255, 0.3);
}

header .logo { position: absolute; left: 40px; top: 31px;}

.gnb {position: absolute; top: 0; left: 50%; margin-left: -420px;}
.gnb ul { display: flex; flex-wrap: wrap;}
.gnb ul li a {
    display: inline-block; padding: 0 32px; height: 80px; line-height: 80px;
    font-family: "Montserrat", sans-serif; font-size: 16px; font-weight: 700; letter-spacing: -0.5px; text-transform: uppercase;
    color: #FFF;
    transition: .3s;
}

.gnb ul li a:hover { background: #FFF; color: #000;}

.icon_lang {
    width: 20px; height: 20px; position: absolute; top: 30px; right: 40px;
    display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
    background: url(../images/icon_lang.png) no-repeat 50% 50% / cover;
}


/* hero */
.hero_wrap {
    width: 100%; height: 100vh; margin: 0 auto; display: flex; flex-wrap: wrap;
}
.hero_wrapper {width: 100%; height: 100%;}

.hero {
    width: 100%; height: 100%; 
    display: flex; flex-wrap: wrap; justify-content: center; align-content: flex-end;
}

.hero_title_wrap {
    display: flex; flex-wrap: wrap; flex-direction: column; align-items: center; gap: 32px;
    margin-bottom: 110px;
}

.hero_title_wrap .contents_article_large {
    text-align: center;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.20);
}

.hero_01 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.30) 100%), url(../images/hero_01.jpg) lightgray no-repeat 50% 50% / cover;
}

.hero_logo_01 {
    width: 246px; height: 80px;
    background: url(../images/hero_logo_01.png) no-repeat 50% 50% / cover;
}

.hero_02 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.30) 100%), url(../images/hero_02.jpg) lightgray no-repeat 50% 50% / cover;
}

.hero_logo_02 {
    width: 110px; height: 120px;
    background: url(../images/hero_logo_02.png) no-repeat 50% 50% / cover;
}

.hero_03 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.30) 100%), url(../images/hero_03.jpg) lightgray no-repeat 50% 50% / cover;
}

.hero_logo_03 {
    width: 250px; height: 100px;
    background: url(../images/hero_logo_03.png) no-repeat 50% 50% / cover;
}

/* arrow */
.custom-prev {
    width: 40px; height: 40px; display: block;
    background-image: url(../images/arrow_left_large.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 1;
}
.custom-next {
    width: 40px; height: 40px; display: block;
    background-image: url(../images/arrow_right_large.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
    color: transparent;
}
.swiper-horizontal {
    opacity: 1;
}

/* 페이지네이션 */
.swiper-pagination { bottom: 54px;}
.swiper-pagination-bullet {
    width: 15px; height: 4px; margin: 0 5px; border-radius: 0;
    background-color: #fff;
    opacity: 1;
}
/* active */
.swiper-pagination-bullet-active {
    width: 50px; border-radius: 0;
    background-color: #F9FF65;
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 54px);
    left: 0;
    top: var(--swiper-pagination-top, auto);
    width: 100%;
}