/* header */
header {
    max-width: 1920px;  margin: 0 auto;
    width: 93%; height: 80px; position: absolute; top: 54px; left: 70px; z-index: 999;

    /* glass */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 8px 10px rgba(31, 38, 135, 0), inset 0 4px 8px -2px rgba(255, 255, 255, 0.3);
}

header .logo { position: absolute; left: 40px; top: 31px;}

.gnb {position: absolute; top: 0; left: 50%; margin-left: -420px;}
.gnb ul { display: flex; flex-wrap: wrap;}
.gnb ul li a {
    display: inline-block; padding: 0 32px; height: 80px; line-height: 80px;
    font-family: "Montserrat", sans-serif; font-size: 16px; font-weight: 700; letter-spacing: -0.5px; text-transform: uppercase;
    color: #FFF;
    transition: .3s;
}
.gnb ul li a:hover { background: #FFF; color: #000;}

.icon_lang {
    width: 20px; height: 20px; position: absolute; top: 30px; right: 40px;
    display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
    background: url(../images/icon_lang.png) no-repeat 50% 50% / cover;
}

/* hero */
.hero_wrap {
    width: 100%; height: 100vh; margin: 0 auto; display: flex; flex-wrap: wrap;
}
.hero_wrapper {width: 100%; height: 100%;}

.hero {
    width: 100%; height: 100%; 
    display: flex; flex-wrap: wrap; justify-content: center; align-content: flex-end;
}

.hero_title_wrap {
    display: flex; flex-wrap: wrap; flex-direction: column; align-items: center; gap: 32px;
    margin-bottom: 110px;
}
.hero_title_wrap .contents_article_large {
    text-align: center;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.20);
}

.hero_01 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.30) 100%), url(../images/hero_01.jpg) lightgray no-repeat 50% 50% / cover;
}
.hero_logo_01 {
    width: 246px; height: 80px;
    background: url(../images/hero_logo_01.png) no-repeat 50% 50% / cover;
}
.hero_02 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.30) 100%), url(../images/hero_02.jpg) lightgray no-repeat 50% 50% / cover;
}
.hero_logo_02 {
    width: 110px; height: 120px;
    background: url(../images/hero_logo_02.png) no-repeat 50% 50% / cover;
}
.hero_03 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.30) 100%), url(../images/hero_03.jpg) lightgray no-repeat 50% 50% / cover;
}
.hero_logo_03 {
    width: 250px; height: 100px;
    background: url(../images/hero_logo_03.png) no-repeat 50% 50% / cover;
}

/* arrow */
.custom-prev {
    width: 40px; height: 40px; display: block;
    background-image: url(../images/arrow_left_large.png); background-repeat: no-repeat; background-position: center; background-size: contain;
    opacity: 1;
}
.custom-next {
    width: 40px; height: 40px; display: block;
    background-image: url(../images/arrow_right_large.png); background-repeat: no-repeat; background-position: center; background-size: contain;
    opacity: 1;
}

.swiper-button-prev, .swiper-button-next { color: transparent;}
.swiper-horizontal {opacity: 1;}

/* 페이지네이션 */
.swiper-pagination { bottom: 54px;}
.swiper-pagination-bullet {
    width: 15px; height: 4px; margin: 0 5px; border-radius: 0;
    background-color: #fff; opacity: 1;
}
/* active */
.swiper-pagination-bullet-active {
    width: 50px; border-radius: 0; background-color: #F9FF65;
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 54px);
    left: 0;
    top: var(--swiper-pagination-top, auto);
    width: 100%;
}


/* multimedia */
.multimedia {
    width: 100%; position: relative; border-top: 2px solid #000;
}

.multimedia .section_title { margin-bottom: 28px;}

.multimedia_wrap, .multimedia_wrapper {
    width: 100%; height: 100%;
}

.contents_blur {
    position: absolute; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.50); backdrop-filter: blur(5px);
    z-index: 1;
}

.multimedia .contents_thum_wrap, .multimedia .btn, .multimedia .contents_title_large {
    z-index: 2;
}

.multimedia .multimedia_contents {
    width: 100%; height: 100%;
    display: flex; flex-wrap: wrap; justify-content: center; flex-direction: column; align-items: center;
}
.multimedia_contents.mv_01{
    background: url(../images/mv_01.jpg) no-repeat 50% 50% / cover;
}
.multimedia_contents.mv_02{
    background: url(../images/mv_02.jpg) no-repeat 50% 50% / cover;
}
.multimedia_contents.mv_03 {
    background: url(../images/mv_03.jpg) no-repeat 50% 50% / cover;
}

.multimedia .contents_thum_wrap {
    width: 100%; height: 100%; padding: 120px 0;
    display: flex; flex-wrap: wrap; justify-content: center; flex-direction: column; align-items: center; gap: 32px;
}

.multimedia .contents_thum_wrap .contents_thum{
    width: 52%;  position: relative;
    box-shadow: 28px 19px 29.1px 0 rgba(0, 0, 0, 0.15);
}

.multimedia .contents_thum_wrap .contents_thum .thumbnail{
    width: 100%; height: 100%;
    object-fit: cover;
    display: block;
}
.multimedia .contents_thum_wrap .contents_thum iframe {
    width: 100%; height: 100%; object-fit: cover;
    pointer-events: none;
    position: absolute; top: 0; left: 0;
    display: none;
}

.multimedia .contents_thum .play_btn, .multimedia .contents_thum .pause_btn{
    width: 72px; height: 72px; border: 0;
    position: absolute; top: 50%; left: 50%; transform: translate(-36px, -36px);
    cursor: pointer;
}
.multimedia .contents_thum .play_btn{
    background:url(../images/paly_btn.png) no-repeat 50% 50% / cover;
}
.multimedia .contents_thum .pause_btn{
    background:url(../images/pause_btn.png) no-repeat 50% 50% / cover;
    display: none;
}

.multimedia .btn {
    background: rgba(0, 0, 0, 0.50);
}
.multimedia .btn .icon_play {
    background: url(../images/icon_paly.png) no-repeat 50% 50% / cover;
}
.multimedia .multimedia_btn:hover .icon_play{
    background: url(../images/icon_play_black.png) no-repeat 50% 50% /cover ;
}

.custom-prev.multi {
    margin-top: -2%; left: 19%;
}
.custom-next.multi {
    margin-top: -2%; right: 19%;
}

.multimedia .contents_title_large {
    opacity: 0; transition: opacity 0.4s ease;
}
.multimedia .swiper-slide-active .contents_title_large {
    opacity: 1;
}

/* release */
.release{
    width: 100%; padding: 120px 0;
    display: flex; flex-wrap: wrap; flex-direction: column; align-items: center; justify-content: center; gap: 60px;
}

.release_wrapper {
    display: flex; flex-wrap: wrap; gap: 520px;
}

.album{
    display: flex; flex-wrap: wrap; flex-direction: column; align-items: center; justify-content: center; gap: 32px;
}

.album .album_img{
    width: 480px; height: 480px;
}
.album_01 .album_img{background: url(../images/album_01.jpg) no-repeat 50% 50% / cover;}
.album_02 .album_img{background: url(../images/album_02.jpg) no-repeat 50% 50% / cover;}
.album_03 .album_img{background: url(../images/album_03.jpg) no-repeat 50% 50% / cover;}
.album_04 .album_img{background: url(../images/album_04.jpg) no-repeat 50% 50% / cover;}

.contents_text_wrap{text-align: center; display: flex; flex-wrap: wrap; flex-direction: column; gap: 6px;}
.contents_text_wrap .contents_title_medium{
    font-weight: 500; line-height: normal;
}

.btn_wrap{
    display: flex; flex-wrap: wrap; gap: 24px;
}
.release .btn .icon_album{
    background: url(../images/icon_album.png) no-repeat 50% 50% / cover;
}
.release .btn:hover .icon_album{
    background: url(../images/icon_album_black.png);
}
.release .btn .icon_music {
    background: url(../images/icon_music.png) no-repeat 50% 50% / cover;
}
.release .btn:hover .icon_music{
    background: url(../images/icon_music_black.png);
}


.custom-prev.album {
    margin-top: -6%; left: 30%;
}
.custom-next.album {
    margin-top: -6%; right: 30%;
}