/* header */
header {
    max-width: 1785.6px;  margin: 0 auto;
    width: 93%; height: 80px; position: absolute; top: 54px; left: 50%; transform: translateX(-50%); z-index: 999;

    /* glass */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 8px 10px rgba(31, 38, 135, 0), inset 0 4px 8px -2px rgba(255, 255, 255, 0.3);
}

header .logo { position: absolute; left: 40px; top: 31px;}

.gnb {position: absolute; top: 0; left: 50%; margin-left: -420px;}
.gnb ul { display: flex; flex-wrap: wrap;}
.gnb ul li a {
    display: inline-block; padding: 0 32px; height: 80px; line-height: 80px;
    font-family: "Montserrat", sans-serif; font-size: 16px; font-weight: 700; letter-spacing: -0.5px; text-transform: uppercase;
    color: #FFF;
    transition: .3s;
}
.gnb ul li a:hover { background: #FFF; color: #000;}

.icon_lang {
    width: 20px; height: 20px; position: absolute; top: 30px; right: 40px;
    display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
    background: url(../images/icon_lang.png) no-repeat 50% 50% / cover;
}

/* hero */
.hero_wrap {
    width: 100%; height: 100vh; margin: 0 auto; display: flex; flex-wrap: wrap;
}
.hero_wrapper {width: 100%; height: 100%;}

.hero {
    width: 100%; height: 100%; 
    display: flex; flex-wrap: wrap; justify-content: center; align-content: flex-end;
}

.hero_title_wrap {
    display: flex; flex-wrap: wrap; flex-direction: column; align-items: center; gap: 32px;
    margin-bottom: 110px;
}
.hero_title_wrap .contents_article_large {
    text-align: center;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.20);
}

.hero_01 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.30) 100%), url(../images/hero_01.jpg) lightgray no-repeat 50% 50% / cover;
}
.hero_logo_01 {
    width: 246px; height: 80px;
    background: url(../images/hero_logo_01.png) no-repeat 50% 50% / cover;
}
.hero_02 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.30) 100%), url(../images/hero_02.jpg) lightgray no-repeat 50% 50% / cover;
}
.hero_logo_02 {
    width: 110px; height: 120px;
    background: url(../images/hero_logo_02.png) no-repeat 50% 50% / cover;
}
.hero_03 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.30) 100%), url(../images/hero_03.jpg) lightgray no-repeat 50% 50% / cover;
}
.hero_logo_03 {
    width: 250px; height: 100px;
    background: url(../images/hero_logo_03.png) no-repeat 50% 50% / cover;
}

/* arrow */
.custom-prev, .custom-next{
    width: 40px; height: 40px; margin: 0; display: block; opacity: 1;
}
.custom-prev{ background-image: url(../images/arrow_left_large.png); background-repeat: no-repeat; background-position: center; background-size: contain;}
.custom-next{ background-image: url(../images/arrow_right_large.png); background-repeat: no-repeat; background-position: center; background-size: contain;}


.swiper-button-prev, .swiper-button-next { color: transparent;}
.swiper-horizontal {opacity: 1;}

/* 페이지네이션 */
.swiper-pagination { bottom: 54px;}
.swiper-pagination-bullet {
    width: 15px; height: 4px; margin: 0 5px; border-radius: 0;
    background-color: #fff; opacity: 1;
}
/* active */
.swiper-pagination-bullet-active {
    width: 50px; border-radius: 0; background-color: #F9FF65;
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 54px);
    left: 0;
    top: var(--swiper-pagination-top, auto);
    width: 100%;
}


/* multimedia */
.multimedia {
    width: 100%; position: relative; border-top: 2px solid #000;
}

.multimedia .section_title { margin-bottom: 28px;}

.multimedia_wrap, .multimedia_wrapper {
    width: 100%; height: 100%;
}

.contents_blur {
    position: absolute; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.50); backdrop-filter: blur(5px);
    z-index: 1;
}

.multimedia .contents_thum_wrap, .multimedia .btn, .multimedia .contents_title_large {
    z-index: 2;
}

.multimedia .multimedia_contents {
    width: 100%; height: 100%;
    display: flex; flex-wrap: wrap; justify-content: center; flex-direction: column; align-items: center;
}
.multimedia_contents.mv_01{
    background: url(../images/mv_01.jpg) no-repeat 50% 50% / cover;
}
.multimedia_contents.mv_02{
    background: url(../images/mv_02.jpg) no-repeat 50% 50% / cover;
}
.multimedia_contents.mv_03 {
    background: url(../images/mv_03.jpg) no-repeat 50% 50% / cover;
}

.multimedia .contents_thum_wrap {
    width: 100%; height: 100%; padding: 120px 0;
    display: flex; flex-wrap: wrap; justify-content: center; flex-direction: column; align-items: center; gap: 32px;
}

.multimedia .contents_thum_wrap .contents_thum{
    width: 52%;  position: relative;
    box-shadow: 28px 19px 29.1px 0 rgba(0, 0, 0, 0.15);
}

.multimedia .contents_thum_wrap .contents_thum .thumbnail{
    width: 100%; height: 100%;
    object-fit: cover;
    display: block;
}
.multimedia .contents_thum_wrap .contents_thum iframe {
    width: 100%; height: 100%; object-fit: cover;
    pointer-events: none;
    position: absolute; top: 0; left: 0;
    display: none;
}

.multimedia .contents_thum .play_btn, .multimedia .contents_thum .pause_btn{
    width: 72px; height: 72px; border: 0;
    position: absolute; top: 50%; left: 50%; transform: translate(-36px, -36px);
    cursor: pointer;
}
.multimedia .contents_thum .play_btn{
    background:url(../images/paly_btn.png) no-repeat 50% 50% / cover;
}
.multimedia .contents_thum .pause_btn{
    background:url(../images/pause_btn.png) no-repeat 50% 50% / cover;
    display: none;
}

.multimedia .btn {
    background: rgba(0, 0, 0, 0.50);
}
.multimedia .btn .icon_play {
    background: url(../images/icon_paly.png) no-repeat 50% 50% / cover;
}
.multimedia .multimedia_btn:hover .icon_play{
    background: url(../images/icon_play_black.png) no-repeat 50% 50% /cover ;
}

.custom-prev.multi {
    top: 50%; left: 19%;
    transform: translateY(-50%);
}
.custom-next.multi {
    top: 50%; right: 19%;
    transform: translateY(-50%);
}

.multimedia .contents_title_large {
    opacity: 0; transition: opacity 0.4s ease;
}
.multimedia .swiper-slide-active .contents_title_large {
    opacity: 1;
}

/* release */
.release {
    width: 100%; padding: 120px 0; overflow: visible;
}
.release.swiper { overflow: visible;}

.release_wrap, .release_wrapper.swiper-wrapper{
    width: 100%;
}

.album {
    display: flex; flex-wrap: wrap; flex-direction: column; align-items: center; justify-content: center; gap: 32px;
    transition: all 0.8s ease;
}
.album .album_img {
    width: 600px; height: 600px;
}
.album_01 .album_img {background: url(../images/album_01.jpg) no-repeat 50% 50% / cover;}
.album_02 .album_img {background: url(../images/album_02.jpg) no-repeat 50% 50% / cover;}
.album_03 .album_img {background: url(../images/album_03.jpg) no-repeat 50% 50% / cover;}
.album_04 .album_img {background: url(../images/album_04.jpg) no-repeat 50% 50% / cover;}

.contents_text_wrap {
    text-align: center;
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 6px;
    transition: all 0.8s ease;
}
.contents_text_wrap .contents_title_medium {
    font-weight: 500; line-height: normal;
}

.btn_wrap {
    display: flex; flex-wrap: wrap; gap: 24px;
    opacity: 1; visibility: visible;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

/* 미리보기 상태 (활성 슬라이드가 아닐 때) */
.swiper-slide:not(.swiper-slide-active).album {
    transform: scale(0.5); opacity: 0.5; transition: 1s;
}
.swiper-slide:not(.swiper-slide-active).album .album_img {
    width: 600px; height: 600px;
}
.swiper-slide:not(.swiper-slide-active) .btn_wrap {
    opacity: 0; visibility: hidden;
}

/* 활성 슬라이드 */
.swiper-slide-active .album { transform: scale(1); opacity: 1;}
.swiper-slide-active .album .album_img { width: 600px; height: 600px;  }
.swiper-slide-active .btn_wrap { opacity: 1; visibility: visible; }

.release .btn .icon_album { background: url(../images/icon_album.png) no-repeat 50% 50% / cover; }
.release .btn:hover .icon_album {background: url(../images/icon_album_black.png); }

.release .btn .icon_music { background: url(../images/icon_music.png) no-repeat 50% 50% / cover;}
.release .btn:hover .icon_music { background: url(../images/icon_music_black.png); }

.custom-prev.album { top: 43%; left: 30%; transform: translateY(-50%);}
.custom-next.album { top: 43%; right: 30%; transform: translateY(-50%);}



/* artist */
.artist{
    width: 95%;
    margin-top: 80px; margin-bottom: 120px; margin-left: auto; margin-right: auto;
}

.artist .section_title{
    font-size: 48px; text-align: left;
}

.artist_wrap {
    width: 100%; margin: 0 auto;
    display: flex; justify-content: space-between;
}

.artist_img_wrap {
  flex: 1; height: 770px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.artist_img_wrap .artist_img {
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    opacity: 0;
    transform: scale(1.05);
    transition:  opacity 0.6s ease, transform 0.8s ease;
}
.artist_img_wrap .artist_img:first-child{background: url(../images/artist_01.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(2){background: url(../images/artist_02.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(3){background: url(../images/artist_03.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(4){background: url(../images/artist_04.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(5){background: url(../images/artist_05.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(6){background: url(../images/artist_06.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(7){background: url(../images/artist_07.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(8){background: url(../images/artist_08.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(9){background: url(../images/artist_09.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(10){background: url(../images/artist_10.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(11){background: url(../images/artist_11.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(12){background: url(../images/artist_12.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(13){background: url(../images/artist_13.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(14){background: url(../images/artist_14.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(15){background: url(../images/artist_15.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:nth-child(16){background: url(../images/artist_16.jpg) no-repeat 50% 50% / cover;}
.artist_img_wrap .artist_img:last-child{background: url(../images/artist_17.jpg) no-repeat 50% 50% / cover;}

.artist_img_wrap .artist_img.active {
    opacity: 1;  transform: scale(1);
}

.artist_text_wrap {
    width: 452px; height: 770px;
    overflow-y: auto;
    display: flex; flex-direction: column;
}

.artist_name {
  font-size: 38px; font-weight: 700; letter-spacing: -2px; text-align: end;
  margin-bottom: 10px; padding-right: 16px;
  color: #999;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.artist_name.active {
  color: #ffe600;
  transform: translateX(-6px);
}

/* scrollbar */
.artist_text_wrap::-webkit-scrollbar { width: 4px;}
.artist_text_wrap::-webkit-scrollbar-track { background: rgba(255,255,255,0.1);}
.artist_text_wrap::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.4); border-radius: 10px;}
.artist_text_wrap::-webkit-scrollbar-thumb:hover {background: rgba(255,255,255,0.7);}


/* flatform */
.flatform{
    width: 1600px; margin: 120px auto; 
    display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; align-items: center;
}

.flatform .contents{
    display: flex; flex-wrap: wrap; flex-direction: row; gap: 20px;
}

.flatform_card{
    width: 385px; height: 514px; overflow: hidden;
    display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; align-items: center; gap: 60px;
    padding: 60px 36px; box-sizing: border-box; border-radius: 20px;
    background: linear-gradient(149deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.50) 100%);
    opacity: 1;
}

/* .flatform_card.animate__fadeInUp {
    opacity: 1;
} */
.flatform_card:hover{
    background: linear-gradient(149deg, #0074E2 0%, #80BAF0 50%, #FFF 100%);
}


.flatform_card .card_contents{
    display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; align-items: center; gap: 24px;
}
.flatform_card .text_wrap{
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 6px; justify-content: center; text-align: center;
}

.flatform_icon{width: 160px; height: 160px;}

.flatform_card:nth-child(2), .flatform_card:last-child{margin-top: 160px;}

.flatform_card:first-child .flatform_logo{width: 239px; height: 33px; background: url(../images/platform_logo_01.png) no-repeat 50% 50% / cover;}
.flatform_card:first-child .flatform_icon{background: url(../images/platform_01.png) no-repeat 50% 50% / cover;}
.flatform_card:nth-child(2) .flatform_logo{width: 300px; height: 46px; background: url(../images/platform_logo_02.png) no-repeat 50% 50% / cover;}
.flatform_card:nth-child(2) .flatform_icon{background: url(../images/platform_02.png) no-repeat 50% 50% / cover;}
.flatform_card:nth-child(3) .flatform_logo{width: 316px; height: 34px; background: url(../images/platform_logo_03.png) no-repeat 50% 50% / cover;}
.flatform_card:nth-child(3) .flatform_icon{background: url(../images/platform_03.png) no-repeat 50% 50% / cover;}
.flatform_card:last-child .flatform_logo{width: 313px; height: 36px; background: url(../images/platform_logo_04.png) no-repeat 50% 50% / cover;}
.flatform_card:last-child .flatform_icon{background: url(../images/platform_04.png) no-repeat 50% 50% / cover;}

/* labels */
.labels{width: 100%; margin: 120px auto; overflow: hidden;}
.labels_wrap{width: 100%; height: 100%; position: relative; overflow: visible;}
.labels_wrapper{width: 100%; height: 100%; position: relative;}

.labels_card{
    width: 420px; padding: 24px;
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 24px;
    border: 1px solid #999; box-sizing: border-box;
}
.labels_top{display: flex; flex-wrap: wrap; justify-content: start; align-items: center;gap: 24px;}
.labels_logo{width: 90px; height: 90px;}

.labels_card[data-label="1"] .labels_top .labels_logo{background: url(../images/label_01.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="2"] .labels_top .labels_logo{background: url(../images/label_02.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="3"] .labels_top .labels_logo{background: url(../images/label_03.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="4"] .labels_top .labels_logo{background: url(../images/label_04.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="5"] .labels_top .labels_logo{background: url(../images/label_05.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="6"] .labels_top .labels_logo{background: url(../images/label_06.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="7"] .labels_top .labels_logo{background: url(../images/label_07.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="8"] .labels_top .labels_logo{background: url(../images/label_08.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="9"] .labels_top .labels_logo{background: url(../images/label_09.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="10"] .labels_top .labels_logo{background: url(../images/label_10.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="11"] .labels_top .labels_logo{background: url(../images/label_11.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="12"] .labels_top .labels_logo{background: url(../images/label_12.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="13"] .labels_top .labels_logo{background: url(../images/label_13.png) no-repeat 50% 50% / cover;}
.labels_card[data-label="14"] .labels_top .labels_logo{background: url(../images/label_14.png) no-repeat 50% 50% / cover;}



.labels_card .text_wrap{display: flex; flex-wrap: wrap; flex-direction: column; gap: 12px;}
.labels_card .text_wrap .title_wrap{display: flex; flex-wrap: wrap; flex-direction: column; gap: 2px;}
.labels_card .text_wrap .title_wrap .contents_article_small,
.labels_card .text_wrap .title_wrap .contents_title_medium{text-transform: uppercase;}
.labels_btn{
    width: 100%; padding: 10px 0; box-sizing: border-box;
    display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
    background: #FFF; color: #000;
}
.labels_btn:hover{
    background: #F9FF65;
}

.custom-prev.labels,
.custom-next.labels {
    width: 30px; height: 30px;
    position: absolute; top: -40px;
    z-index: 10;
    cursor: pointer;
}
.custom-prev.labels{ left: auto; right: 92px;}
.custom-next.labels{right: 48px;}