/* 모든 페이지 공통 반응형 영역(header / footer) */
@media screen and (max-width:1440px) {}

@media screen and (max-width:1280px) {
    header .gnb{display: none;}
    .icon_lang{display: none;}

    .menu-trigger{display: inline-block;}
}

@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:600px) {}

@media screen and (max-width:480px) {
    header{width: 85%; height: 60px;}
    header .logo{ left: 32px;}
    header .menu-trigger{right: 32px;}
    
}