.section_title{
    font-family: "Montserrat", sans-serif;
    font-size: 36px; font-weight: 700; letter-spacing: -2px; 
    text-align: center; text-transform: uppercase;
}

.contents_title_small{font-size: 16px; font-weight: 700; letter-spacing: -0.5px;}
.contents_title_medium{font-size: 20px; font-weight: 700; letter-spacing: -1px;}
.contents_title_large{font-size: 28px; font-weight: 700; letter-spacing: -2px;}

.contents_article_xsmall{font-size: 14px; font-weight: 300; letter-spacing: -1px; line-height: 130%;}
.contents_article_small{font-size: 16px; font-weight: 500; letter-spacing: -1px;}
.contents_article_medium{font-size: 18px; font-weight: 500; letter-spacing: -0.5px; line-height: 150%;}
.contents_article_large{font-size: 22px; font-weight: 700; letter-spacing: -1px; line-height: 150%;}



.btn{
    font-size: 16px; font-weight: 700; letter-spacing: -0.5px; color: #FFF;
    display: flex; flex-wrap: wrap; align-items: center; gap: 8px;
    padding: 12px 24px 12px 20px; box-sizing: border-box;
    border-radius: 50px; border: 1px solid #FFF;
}
.btn:hover{
    background: #F9FF65 !important; 
    border: 1px solid #000; 
    color: #000;
}
.btn div{
    width: 20px; height: 20px;
}