.contents_title_small{font-size: 16px; font-weight: 700; letter-spacing: -0.5px;}
.contents_title_medium{font-size: 20px; font-weight: 700; letter-spacing: -1px;}
.contents_title_large{font-size: 28px; font-weight: 700; letter-spacing: -1.5px;}

.contents_article_xsmall{font-size: 14px; font-weight: 300; letter-spacing: -0.5px; line-height: 130%;}
.contents_article_small{font-size: 16px; font-weight: 500; letter-spacing: -0.5px;}
.contents_article_medium{font-size: 18px; font-weight: 500; letter-spacing: -1px; line-height: 150%;}
.contents_article_large{font-size: 22px; font-weight: 700; letter-spacing: -1px; line-height: 150%;}

.section_title{
    font-family: "Montserrat", sans-serif;
    font-size: 36px; font-weight: 700; letter-spacing: -2px; 
    text-align: center; text-transform: uppercase;
    margin-bottom: 60px;
}

.artist_title{
    font-family: "Montserrat", sans-serif;
    font-size: 48px; font-weight: 700; letter-spacing: -2px; text-align: left;
    margin-bottom: 60px;
}

.btn{
    font-size: 16px; font-weight: 700; letter-spacing: -0.5px; color: #FFF;
    display: flex; flex-wrap: wrap; align-items: center; gap: 8px;
    padding: 12px 24px 12px 20px; box-sizing: border-box;
    border-radius: 50px; border: 1px solid #FFF;
}
.btn:hover{
    background: #F9FF65 !important; 
    border: 1px solid #000; 
    color: #000;
}
.btn div{
    width: 20px; height: 20px;
}


@media screen and (max-width:1440px) {
    .section_title{font-size: 34px;}
}

@media screen and (max-width:1280px) {
    .contents_title_large{font-size: 26px;}
    .contents_article_large { font-size: 20px;}

    .section_title{font-size: 32px;}
}

@media screen and (max-width:1024px) {
    .contents_title_small{font-size: 15px;}
    .contents_title_large{font-size: 24px;}
    .contents_title_medium{font-size: 20px; letter-spacing: -0.5px;}

    .contents_article_medium{font-size: 16px;}

    .section_title{font-size: 30px;}
    .btn{ font-size: 14px; padding: 10px 20px 10px 18px}

    .artist_title{ font-size: 43px;}
}

@media screen and (max-width:768px) {
    .contents_title_large{font-size: 22px;}
    .contents_title_medium{font-size: 18px;}

    .contents_article_small{font-size: 15px;}
    .contents_article_large { font-size: 18px; letter-spacing: -0.8px; line-height: 140% ;}

    .section_title{font-size: 28px;}

    .btn{ font-size: 13px; padding: 10px 18px 10px 16px;}

    .artist_title{ font-size: 38px;}
}

@media screen and (max-width:600px) {
    .contents_title_large{font-size: 20px;  letter-spacing: -1px; }

    .section_title{font-size: 26px;}

    .btn{ font-size: 12px; padding: 8px 18px 8px 16px; gap: 6px;}

    .artist_title{ font-size: 33px;}
}

@media screen and (max-width:480px) {
    .contents_title_small{font-size: 14px;}
    .contents_title_large{font-size: 18px;text-align: center;}
    .contents_title_medium{font-size: 16px;}

    .contents_article_small{font-size: 14px;}
    .contents_article_medium{font-size: 14px;}
    .contents_article_large { font-size: 16px; font-weight: 600; letter-spacing: -0.5px; line-height: 130% ;}



    .section_title{font-size: 24px; margin-bottom: 40px;}

    .artist_title{ font-size: 28px; margin-bottom: 40px; letter-spacing: -1px;}
}