.hero{
    width: 100%; height: 1000px;
    margin: 0 auto;
    background: url(../images/sub_hero.png) no-repeat 50% 50% / cover ;

    position: relative;
}

.hero_text_wrap{
    display: flex; flex-wrap: wrap; flex-direction: column;
    position: absolute; top: 50%; left: 16%;

    p{margin-bottom: 0; text-align: left;}
}

/* about */
.about{
    width: 95%; margin: 0 auto; padding: 160px 0;
}
.about .section_title{margin-bottom: 20px;}

.about .about_contents{
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 24px;
}

.company_img{
    width: 100%; height: 600px;
    background: url(../images/company.png) no-repeat 50% 50% / cover;
}

/* leader */
.leader{width: 95%; margin: 0 auto; padding: 160px 0;}

.leader .leader_contents{
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 40px;
}
.leader .contents_article_small{ line-height: 150%;}
.leader .leader_wrap .contents_article_small{ color: #999;}



.leader .leader_contents_top{
    width: 100%; display: flex; flex-wrap: wrap; gap: 24px;
}

.leader .leader_contents_top .leader_img_01{
    width: calc( ( 100% - 24px ) / 2 ); height: 542px;
    background: url(../images/leader_01.jpg) no-repeat 50% 50% / cover;
}

.leader_text_wrap{
    display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between;
}
.leader_wrap{
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 6px;
}

.leader .leader_contents_btm{
    width: 100%;
    display: flex; flex-wrap: wrap; gap: 20px;
}
.leader .leader_contents_btm .btm_leader{
    width: calc(( 100% - 60px ) / 4 );
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 24px;
}
.btm_leader_img{
    width: 100%; height: 200px;
}

.leader_img_02{background: url(../images/leader_02.jpg) no-repeat 50% 50% / cover;}
.leader_img_03{background: url(../images/leader_03.jpg) no-repeat 50% 50% / cover;}
.leader_img_04{background: url(../images/leader_04.jpg) no-repeat 50% 50% / cover;}
.leader_img_05{background: url(../images/leader_05.jpg) no-repeat 50% 50% / cover;}

.leader .leader_contents_btm .btm_leader .leader_text_wrap{
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 16px;
}

/* ci */
.ci{
    width: 95%; margin: 0 auto; padding: 160px 0;
    display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; align-items: center;
}
.ci .ci_contents{
    width: 100%;
    display: flex; flex-wrap: wrap; flex-direction: column; align-items: center;
    gap: 80px;
}
.ci .ci_top{ 
    width: 66.7%; 
    display: flex; flex-wrap: wrap; flex-direction: column; 
    justify-content: center; align-items: flex-start; align-content: center;
    gap: 24px;
}
.ci .ci_top video{width: 100%;}

.ci .ci_btm{
    width: 100%; display: flex; flex-wrap: wrap; flex-direction: column; gap: 60px;
}
.ci .ci_btm .logo_wrap{display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}
.ci .ci_btm .logo_wrap .logo{
    width: calc( ( 100% ) / 3 ); height: 208px;
    display: flex; flex-wrap: wrap;
    box-sizing: border-box;
}
.ci .ci_btm .logo_wrap .logo .logo_img_wrap{width: 100%; height: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}
.ci .ci_btm .logo:first-child{border-right: 1px solid #626262; img{width: 320px; height: 86px;}}
.ci .ci_btm .logo:nth-child(2){border-right: 1px solid #626262; img{width: 240px; height: 46px;} p{margin-left: 40px;}}
.ci .ci_btm .logo:last-child{img{width: 164px; height: 80px;} p{margin-left: 40px;}}

.color_wrap{
    display: flex; flex-wrap: wrap; gap: 20px;
}
.color_left, .color_right{
    width: calc( ( 100% - 20px ) / 2 );
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 20px;
}
.primary_wrap{display: flex;flex-wrap: wrap;}
.primary_wrap .primary{width: 33.3%; height: 120px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}
.primary_wrap .primary:first-child{background: #000; border: 1px solid #999; box-sizing: border-box;}
.primary_wrap .primary:nth-child(2){background: #FFF; p{color: #000;}}
.primary_wrap .primary:last-child{background: #999;p{color: #000;}}

.accent{
    width: 100%; height: 120px;
    display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
    background: #F9FF65;
    p{color: #000;}
}

